<?xml version="1.0" encoding="UTF-8" ?>
<beans>

    <component-scan base-package="com.zsy.springframework.test.bean"/>

    <bean class="com.zsy.springframework.beans.factory.config.PropertyPlaceholderConfigure">
        <property name="location" value="classpath:token.properties"/>
    </bean>

    <bean class="com.zsy.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

</beans>